<template>
	<validator name="validation">
		<form novalidate v-on:submit.prevent="onSend">
				<input 
					class="model-border radius-left-3 box-inline v-top pspace-10 col-8 bg-white" 
					id="email" 
					v-model="email" 
					placeholder="E-mail" 
					type="email" 
					v-validate:tel="['email']" 
				/><button 
					class="btn model-border box-inline v-top col-4 pspace-10 bg-red radius-right-3 text-white cursor-pointer"
					type="submit" 
					v-show="$validation.valid" 
					:disabled="!$validation.valid"
				>Подписаться</button>
		</form>
	</validator>
</template>

<script>
	export default {
		methods: {
			onSend: function () {
				this.$http
					.post('url', this.$data, {emulateJSON: true})
					.then(function(response) {
					});
			}
		},
		data() {
			return {
				email: ''
			}
		}
	}
</script>

<style scoped>
	[type="submit"][style*="display: none;"] {
		display: inline-block !important;
		opacity: 0.3;
	}
	[type="submit"] {
		transition: opacity 0.3s ease;
	}
</style>
